[submodule "PurpleClouds/ecorp"]
	path = PurpleClouds/ecorp
	url = git@github.com:Skiru/ecorp.git
[submodule "PurpleClouds/blog"]
	path = PurpleClouds/blog
	url = git@github.com:Skiru/blog.git
[submodule "PurpleClouds/task-manager"]
	path = PurpleClouds/task-manager
	url = git@github.com:Skiru/task-manager.git
[submodule "PurpleClouds/wedding"]
	path = PurpleClouds/wedding
	url = git@github.com:Skiru/wedding.git
